<template>
  <div class="rounded row">
    <!-- <button
      type="button"
      class="btn btn-sm btn-primary"
      @click="$emit('onShowCustomer')"
    >
      <img :src="`${APP_URL}/Images/fi-sr-user.png`" alt="" />Add Customer
    </button> -->
    <!-- <div class="border p-1 mt-2" v-if="formData.customer.name">
      <span>{{ formData.customer.name }}</span>
    </div> -->
    <div class="table-responsive px-0 overflow-x-none col-12">
      <table class="table table-bordered mt-2">
        <thead>
          <tr>
            <td class="p-1">Food Item</td>
            <td class="p-1">Price</td>
            <td class="p-1">GST %</td>
            <td class="p-1">Quantity</td>
            <td class="p-1">Discount</td>
            <td class="p-1">Total Price</td>
            <td class="p-1">Action</td>
          </tr>
        </thead>
        <tbody>
          <OrderRow
            v-for="item in orderedItems"
            :key="item.id"
            :item="item"
            @onQuantityChange="changeQuantity"
            @onItemRemove="removeItem"
          />
        </tbody>
      </table>
    </div>
    <div class="px-4 py-3 font-weight-bold text-sm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
              <p>Subtotal:</p>
              <p class="font-weight-bold">{{ subTotal }}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p>Tax:</p>
              <p class="font-weight-bold">0.00</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p>Service Charges:</p>
              <p class="font-weight-bold">
                {{ formData.service_charges.toFixed(2) }}
              </p>
            </div>
            <div
              class="w-100 d-flex align-items-center justify-content-between"
            >
              <p class="p-0 m-0">Discount:</p>
              <input
                id="discount"
                type="number"
                v-model="formData.discount"
                class="form-control w-50"
              />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <div
              class="p-3 text-lg border border-primary text-black fw-bold h4"
            >
              <span>Total: </span>
              {{ totalBill }}
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap gap-3 mt-3">
          <div class="d-flex gap-2 align-items-center">
            <input
              v-model="formData.payment_method"
              name="payment_method"
              value="cash"
              type="radio"
              class="form-check-input mr-2"
            />
            <label class="ml-3">Cash</label>
          </div>
        </div>
        <div class="text-center mt-2">
          <button class="btn btn-primary" @click="$emit('onMakeOrder')">
            Make Order
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderRow from "./OrderRow.vue";

export default {
  name: "OrderListing",
  props: ["orderedItems", "activeBtn", "formData", "showText"],
  data() {
    return {
      APP_URL: import.meta.env.VITE_APP_URL,
    };
  },
  components: {
    OrderRow,
  },
  computed: {
    subTotal() {
      this.formData.type = this.activeBtn;
      return this.orderedItems.reduce(
        (total, currentObject) =>
          total + currentObject.price * currentObject.quantity,
        0
      );
    },
    totalBill() {
      const subtotalValue = this.subTotal;
      const serviceCharges = 0.15 * subtotalValue;
      const discount = this.formData.discount;
      const totalWithDiscount = subtotalValue + serviceCharges - discount;

      // const totalPrice =  totalWithDiscount > 0 ? totalWithDiscount : 0;

      this.formData.service_charges = serviceCharges;
      this.formData.total_price = totalWithDiscount;
      return totalWithDiscount;
    },
  },
  emits: [
    "onShowCustomer",
    "onShowDineIn",
    "onQuantityChange",
    "onItemRemove",
    "onMakeOrder",
  ],
  methods: {
    changeQuantity(data) {
      this.$emit("onQuantityChange", data);
    },
    removeItem(id) {
      this.$emit("onItemRemove", id);
    },
  },
};
</script>

<style scoped>
.order-listing-height {
  max-height: 320px;
  height: 300px;
}

/* Decrease the width of the scrollbar */
::-webkit-scrollbar {
  width: 9px; /* Set the desired width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366f1; /* Color of the handle */
  border-radius: 6px; /* Radius of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}
</style>
