<template>
    <div class="container px-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    @click="activetab = 'all'"
                >
                    All
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contact"
                    type="button"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    @click="activetab = 'pending'"
                >
                    Pending
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contact"
                    type="button"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    @click="activetab = 'processing'"
                >
                    Processing
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    @click="activetab = 'completed'"
                >
                    Completed
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="row">
                <div
                    v-for="order in filteredOrders"
                    :key="order.id"
                    class="col-6 col-lg-4 p-0"
                >
                    <div
                        class="card p-0 rounded-4 m-2 m-md-4 shadow-lg"
                        style="border-radius: 10px"
                    >
                        <div
                            class="p-2"
                            style="
                                background-color: #7367f0;
                                border-top-right-radius: 10px;
                                border-top-left-radius: 10px;
                            "
                        >
                            <div
                                class="d-flex justify-content-between text-white p-2"
                                style="
                                    font-family: poppins;
                                    font-weight: 500;
                                    font-size: 16px;
                                "
                            >
                                <div># {{ order.order_number }}</div>
                                <div>
                                    <i class="fa-solid fa-dice-d20"></i>
                                    {{ order.type }}
                                </div>
                            </div>
                            <div
                                class="text-white p-0"
                                style="
                                    font-family: poppins;
                                    font-weight: 500;
                                    font-size: 16px;
                                "
                            >
                                <div class="text-center">
                                    <img src="Vector.png" alt="" /> Created at :
                                    {{ formatedDateTime(order.created_at) }}
                                </div>
                            </div>
                        </div>
                        <div class="p-2" style="background-color: #f7f7f7">
                            <div
                                class="d-flex justify-content-between text-black"
                                style="
                                    font-family: poppins;
                                    font-weight: 500;
                                    font-size: 14px;
                                "
                            >
                                <div
                                    style="margin-left: 20px; font-weight: 600"
                                >
                                    Food Item
                                </div>
                                <div style="font-weight: 600">Quantity</div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-5">
                                <div
                                    v-for="orderDetail in order.order_details"
                                    :key="orderDetail.id"
                                    class="d-flex justify-content-between text-black"
                                    style="
                                        font-family: Montserrat;
                                        font-weight: 500;
                                        font-size: 13px;
                                    "
                                >
                                    <div>
                                        {{ orderDetail.menu_item.name }} -
                                        {{
                                            orderDetail.menu_serving
                                                ? orderDetail.menu_serving.name
                                                : "No Serving"
                                        }}
                                    </div>
                                    <div style="margin-right: 20px">
                                        {{ orderDetail.quantity }}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div
                                    style="
                                        color: #737b7b;
                                        font-family: poppins;
                                        font-size: 14px;
                                    "
                                >
                                    Note
                                    <img
                                        class="mb-3"
                                        src="Group 1000004525.png"
                                        alt=""
                                    />
                                </div>
                                <div>
                                    <button
                                        type="button"
                                        class="btn btn-success border-0 mark-ready-btn"
                                        data-order-id="{{ order.id }}"
                                        style="
                                            background-color: #7367f0;
                                            font-family: Montserrat;
                                            font-weight: 400;
                                            font-size: 13px;
                                        "
                                    >
                                        Mark Ready
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import KitchenService from "../../service/KitchenService.js";
import Echo from "laravel-echo";
import Pusher from "pusher-js";
window.Pusher = Pusher;
window.Echo = new Echo({
    broadcaster: "pusher",
    key: import.meta.env.VITE_PUSHER_APP_KEY,
    cluster: "mt1",
    wsHost: import.meta.env.VITE_PUSHER_HOST,
    wsPort: 6001,
    forceTLS: false,
    disableStats: true,
    authEndpoint: `${import.meta.env.VITE_APP_URL}broadcasting/auth`,
    auth: {
        headers: {
            Accept: "Application/Json",
        },
    },
});

export default {
    name: "kitchen",
    data() {
        return {
            activetab: "all",
            kitchenService: null,
            orders: [],
        };
    },
    props: {
        property: {
            type: Number,
            default: null,
        },
    },
    methods: {
        formatedDateTime(dateString) {
            const dateTime = new Date(dateString);

            // Format the date and time
            const options = {
                year: "numeric",
                month: "short",
                day: "numeric",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit",
                // timeZoneName: "short",
            };

            return dateTime.toLocaleDateString("en-US", options);
        },
        updateOrder(id) {
            this.kitchenService.updateOrder(id, this.property);
        },
    },
    created() {
        this.kitchenService = new KitchenService(this);
    },
    mounted() {
        let self = this;
        self.kitchenService.getOrders(self.property);
        window.Echo.private("order-placed." + self.property)
            .listen("OrderPlaced", (event) => {
                if (self.property == event.property.id) {
                    const existingOrderIndex = self.orders.findIndex(
                        (order) => order.id == event.order.id
                    );

                    if (existingOrderIndex !== -1) {
                        // If the order exists, replace it with the new one
                        self.orders.splice(existingOrderIndex, 1, event.order);
                    } else {
                        // If the order doesn't exist, add it to the orders array
                        self.orders.push(event.order);
                    }
                }
            })
            .error((error) => {
                console.error(error);
                // Handle subscription errors here
            });
    },
    computed: {
        filteredOrders() {
            if (this.activetab === "all") {
                return this.orders;
            } else {
                return this.orders.filter(
                    (order) => order.status === this.activetab
                );
            }
        },
    },
};
</script>
