<template>
    <div class="row border-1 border-round-lg overflow-hidden mx-auto mb-3">
        <!-- <button
            @click="activeBtn = 'pick-up'"
            class="btn btn-color col-4 font-semibold text-medium px-3 mr-2 py-10 border"
            :class="{ 'btn-primary active-btn': activeBtn === 'pick-up' }"
        >
            <img
                class="img-width"
                :src="`${APP_URL}Images/pick-up-black.png`"
            />
            <span>Pick Up</span>
        </button> -->
        <button
            @click="activeBtn = 'dine-in'"
            class="btn btn-color col-12 font-semibold text-medium px-3 py-10 border"
            :class="{ 'btn-primary active-btn': activeBtn === 'dine-in' }"
        >
            <img
                class="img-width"
                :src="`${APP_URL}Images/dine-in-black.png`"
            />
            <span>Dine In</span>
        </button>
        <!-- <button
            @click="activeBtn = 'delivery'"
            class="btn btn-color col-4 font-semibold text-medium px-3 py-10 border"
            :class="{ 'btn-primary active-btn': activeBtn === 'delivery' }"
        >
            <img
                class="img-width"
                :src="`${APP_URL}Images/delivery-black.png`"
            />
            <span>Delivery</span>
        </button> -->
    </div>
    <div class="mt-2">
        <OrderListing
            @onShowCustomer="$emit('onShowCustomer')"
            @onShowDineIn="$emit('onShowDineIn')"
            :orderedItems="orderedItems"
            @onMakeOrder="$emit('onMakeOrder')"
            :activeBtn="activeBtn"
            :formData="formData"
            @onQuantityChange="changeQuantity"
            @onItemRemove="removeItem"
        />
    </div>
</template>

<script>
import OrderListing from "./Orders/OrderListing.vue";

export default {
    name: "Orders",
    props: ["orderedItems", "formData", "showText"],
    data() {
        return {
            activeBtn: "dine-in",
            APP_URL: import.meta.env.VITE_APP_URL,
        };
    },
    components: {
        OrderListing,
    },
    emits: [
        "onShowCustomer",
        "onShowDineIn",
        "onQuantityChange",
        "onItemRemove",
        "onMakeOrder",
    ],
    methods: {
        changeQuantity(data) {
            this.$emit("onQuantityChange", data);
        },
        removeItem(id) {
            this.$emit("onItemRemove", id);
        },
    },
};
</script>

<style scoped>
.img-width {
    width: 20px;
    margin-right: 5px;
}

.py-10 {
    padding: 10px 0px;
}
</style>
