<template>
  <div id="divToPrint" class="restaurant-invoice">
    <div class="invoice-info">
      <p><strong>Date:</strong> {{ currentDate }}</p>
      <div class="column_div">
        <p><strong>Order No:</strong> # {{ order.order_number }}</p>
        <p><strong>Time:</strong> {{ currentTime }}</p>
      </div>
      <div class="column_div">
        <p v-if="order.customer && order.customer.name !== ''">
          <strong>Customer Name: </strong> {{ order.customer.name }}
        </p>
        <p v-if="order.customer && order.customer.phone_number !== ''">
          <strong>Customer No: </strong> {{ order.customer.phone_number }}
        </p>
      </div>
      <p style="text-align: start">
        <strong>Order Taker: </strong> {{ user.name }}
      </p>
    </div>
    <h2>Restaurant Invoice</h2>
    <table>
      <thead>
        <tr>
          <th style="text-align: left">Item Name</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in order.order_details" :key="index">
          <td style="text-align: left">{{ item.menu_item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.total_price }}</td>
        </tr>
      </tbody>
    </table>

    <div
      class="total-section"
      style="border-top: 2px solid black; margin-top: 20px"
    >
      <div class="column_div">
        <p><strong>No of Items: </strong> {{ order.order_details?.length }}</p>
        <p>
          <strong style="font-weight: bold">Service Charges (15%): </strong>
          {{ order.service_charges }}
        </p>
      </div>
      <p style="text-align: end">
        <strong>Discount: </strong>{{ order.discount }}
      </p>
      <p
        class="text-lg font-semibold"
        style="text-align: end; font-weight: bold"
      >
        <strong>Total Amount: </strong>{{ order.price }}
      </p>
    </div>
    <div v-if="showKitchen">
      <PrintKitchenReceipt :order="order" />
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import PrintKitchenReceipt from "./PrintKitchenReceipt.vue";
export default {
  props: ["order", "showKitchen"],
  components: {
    PrintKitchenReceipt,
  },
  data() {
    return {
      user: {},
      currentDate: dayjs().format("DD MMM YYYY"),
      currentTime: dayjs().format("h:mm A"),
    };
  },
  mounted() {
    const storedUser = localStorage.getItem("user");
    if (storedUser) {
      // Parse the JSON string to get the user object
      this.user = JSON.parse(storedUser);
    } else {
      // Handle the case when user information is not found in localStorage
      console.log("User information not found.");
    }
  },
  methods: {
    printOrder() {
      const divToPrint = document.getElementById("divToPrint");
      const printWindow = window.open("", "_blank");

      // Write the content to the new window
      printWindow.document.write(`
                <!DOCTYPE html>
                <html>
                <head>
                    <title>Print Bill</title>
                    <style>
                        body {
                            font-family: Arial, sans-serif;
                        }
                        .restaurant-invoice {
                            // width: 210mm;
                            // height: 297mm;
                            text-align: center;
                        }

                        .column_div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                        }

                        table {
                            width: 100%;
                            border-collapse: collapse;
                            margin-bottom: 20px;
                            // font-size: 12px;
                        }
                        p {
                            margin:5px 0px;
                        }

                        th {
                            border: 1px solid #ddd;
                            padding: 8px;
                        }

                        th {
                            background-color: #f2f2f2;
                        }

                        .invoice-info {
                            margin-bottom: 10px;
                        }

                        .total-section {
                            margin-top: 10px;
                        }

                        /* Styles for printing */
                        @media print {
                            body {
                                width: 210mm;
                                // height: 297mm;
                                font-size: 30px;
                                margin: 0;
                            }

                            .restaurant-invoice {
                                // width: 300px; /* Set the desired width for printing */
                                height: auto; /* Let the height adjust accordingly */
                            }

                            .column_div {
                                text-align: center;
                            }

                            table {
                                width: 100%;
                            }
                            .print-next-page {
                                page-break-before: always; /* Ensure PrintKitchenReceipt starts on a new page */
                            }
                        }
                    </style>
                </head>
                <body>
                ${divToPrint.outerHTML}
                </body>
                </html>
            `);

      printWindow.document.close();
      // Wait for the content to be loaded before printing
      printWindow.onload = () => {
        printWindow.print();
      };

      printWindow.document.close();
    },
  },
};
</script>
